.button {
    background-color: var(--primary);
    margin-top: 10px;
    font-weight: 700;
    padding: 12px 14px;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    box-shadow:0 0 5px 3px rgba(0, 0, 0, 0.11);
}

.button:hover {
    cursor: pointer;
    background-color: var(--secondary);
}

.button:disabled {
    cursor: default;
    background-color: var(--disabled);
}

.button_circle {
    background-color: var(--accent);
    color: white;
    border: 0;
    padding: 8px 12px;
    border-radius: 50%;
}

.button_circle:hover {
    cursor: pointer;
}

.button:disabled {
    background-color: var(--disabled);
}