@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './videoCall.css';
@import './buttons.css';
@import './navigationBar.css';
@import './timerOverlay.css';
@import './workoutsExercisesBar.css';
@import './workoutsExercises.css';
@import './sessions.css';

:root {
  /* Colors: */
  --primary: rgb(148, 210, 201);
  --secondary: #ee9b00;
  --accent: #ca6702;
  --fontColor: #303030;
  /* Font Sizes: */
  --bold: 500;
  --regular: 300;
  /*button: */
  --disabled: #585858;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--fontColor);
  overflow-x: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  text-align: center; /*added this*/
}

.pageContainer {
  padding: 4vh 4vw 0px 4vw;
  height: 94vh;
  width: 100vw;
}

h1,
p {
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: 2em;
  text-align: center;
  margin-bottom: 15px;
}

form input {
  margin: 1vh 0;
  border: 0;
  padding: 3px 5px 3px 5px;
  box-shadow:0 0 5px 3px rgba(0, 0, 0, 0.11);
}
