@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './videoCall.css';
@import './buttons.css';
@import './navigationBar.css';
@import './timerOverlay.css';
@import './workoutsExercisesBar.css';
@import './workoutsExercises.css';
@import './sessions.css';
@import './profile.css';
@import './planForm.css';
@import './initialPages.css';
@import './trainerClientPlanDetails.css';
@import './clientInfoTrainerView.css';
@import './createWorkout.css';

:root {
  /* Colors: */
  --primary: #94d2c9;
  --primary-accent: rgb(108, 175, 166); /*added this to use for workoutsExercisesBar, feel free to change*/
  --secondary: #ee9b00;
  --accent: #ca6702;
  --fontColor: #303030;
  /* Font Sizes: */
  --bold: 500;
  --regular: 300;
  /*button: */
  --disabled: #585858;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: var(--fontColor);
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  text-align: center; /*added this*/
}

.page_container {
  padding: 4vh 4vw 0px 4vw;
  height: 94vh;
  width: 100vw;
  max-height: 94vh;
  overflow-y:scroll;
}

h1,
p {
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: 2em;
  text-align: center;
  margin-bottom: 15px;
}

.page_title {
  font-size:2em;
  font-weight: 700;
}

#Exercise_Video { /*added*/
  border-radius: 5px;
  background-color: rgb(27, 27, 27);
  object-fit:cover;
  max-width: 100vw;
}

::-webkit-scrollbar {
  scrollbar-width: 3px;
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgb(241, 240, 240);
  border-radius: 5px;
  width: 3px;
}