.initial_background {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.initial_logo {
    width: 70vw;
    z-index: 3;
    max-width: 450px;
    margin-top: 20vh;
}

.initial_decor {
    min-width: 100vw;
    width: 60vh;
    top: 0vh;
    position: fixed;
    z-index: 2;
}

.initial_wave {
    position: fixed;
    top: calc(100vh-30vh);
    left: -20vw;
    width: 150vw;
    z-index: 1;
}

.signup_form {
    z-index: 4;
    width: 100%;
    margin-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
}

.signup_form input {
    border-radius: 10px;
    color: var(--fontColor);
    font-weight: 700;
    border: 0;
    font-size: 1rem;
    height: 1.5rem;
    margin-bottom: 5px;
    width: 50vw;
    max-width: 400px;
}

.signup_button {
    background-color: var(--secondary);
    margin-top: 15px;
    font-weight: 700;
    padding: 12px 14px;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    box-shadow:0 0 5px 3px rgba(0, 0, 0, 0.11);
}

.signup_button:hover {
    cursor: pointer;
    background-color: var(--primary-accent);
}

.sign_button:disabled {
    cursor: default;
    background-color: var(--disabled);
}

.signup_wrapper {
    z-index: 5;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup_account {
    font-size: 0.8rem;
    margin-top: 5px;
}

.signup_account_span {
    font-size: 0.8rem;
    font-weight: 700;
}

.signup_account_span:hover {
    cursor: pointer;
    color: var(--secondary)
}

@media only screen and (max-width: 600px) {
    .initial_wave {
        bottom: 0;
    }
    .signup_button {
        background-color: var(--primary);
    }
}

