.navigationBar_container {
    position: fixed;
    bottom: 0;
    height: 6vh;
    width: 100vw;
    background-color: var(--accent);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.navigationBar_icon {
    list-style-type: none;
    height: 4.5vh;
    width: 4.5vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigationBar_icon:hover{
    background-color: var(--secondary)
}

.navigationBar_icon:active{
    background-color: var(--secondary)
}

.navigationBar_image {
    height: 3.5vh;
    width: 3.5vh;
}