.fullFormContainer {
  display: flex;
  flex-direction: column;
  padding: 4vh 4vw 0px 4vw;
  overflow-y:scroll;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
}
.detailInput {
  display: flex;
}

.planForm_label {
  font-size: small;
  margin: 0px;
}

.planSchema {
  display: flex;
  flex-direction: row;
}

.planSchemaColumns {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.labelPlanForm {
  font-size:medium;
}

.plan_card {
  background-color: var(--primary);
}

.createPlanInput {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1.1em;
  border: 1px solid var(--primary);
  border-color: #94d2c9;
}

.planFormlabels {
  font-weight:300;
  margin-top: 7px;
  font-size: 1.2em;
}

.noteInput {
  width: 100%;
}

.planLabelCreate {
  margin-top: 8px;
}