.fullFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vh 4vw 0px 4vw;
  overflow-y:scroll;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
}
.detailInput {
  display: flex;
}

.planForm_label {
  font-size: small;
  margin: 0px;
}

.planSchema {
  display: flex;
  flex-direction: row;
}

.planSchemaColumns {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.labelPlanForm {
  font-size:medium;
}

.plan_card {
  background-color: var(--primary);
  border-radius: 5px;
  margin-top: 5px;
  font-size: 12px;
  padding: 10px 10px;
  position: relative;
  color: white;
  margin-bottom: 5px;
}

.plan_card button {
  background-color: var(--secondary);
  position: absolute;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -5px;
  top: -5px;
  border: 0;
  width: 25px;
  height: 25px;
}

.createPlanInput {
  border-radius: 10px;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-around;
  font-size: 1.1em;
  border: 1px solid var(--primary);
  border-color: #94d2c9;
  width: 60vw;
}

.planFormlabels {
  font-weight:300;
  margin-top: 7px;
  font-size: 1.2em;
}

.noteInput {
  width: 60vw;
}

.planLabelCreate {
  margin-top: 8px;
}

.createPlan_reps input {
  width: 30px;
  margin-left: 5px;
}

.createPlan_setsReps {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50vw;
  justify-content: space-between;
}

.createPlan_exContainer {
  width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createPlan_exContainer h2 {
  margin: 0;
  margin-top: 1.5vh;
  font-size: 1rem;
}