.profileCreate_form {
  max-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.profilePic {
  border-radius: 50%;
}

.profileCreate_form .button {
  width: 100px;
}

.photoPreview {
  border-radius: 50%;
  height: 20vh;
  width: 30vw;
}