.setrepContainer {
  display: flex;
  flex-direction: row;
}

.planContainer {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.exerciseTitleContainer {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
}

.setrepContainer {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
}

.setrepContainer {
  font-size: 0.8em;
}

.planExerciseRows {
  font-size: 0.6em;
}