.setrepContainer {
  display: flex;
  flex-direction: row;
}

.planContainer {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.exerciseTitleContainer {
  display: flex;
  flex-direction: column;
}

.clientplan_dates {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 5px;
}

.clientplan_date {
  font-size: 1rem;
  font-weight: 300;
  color:grey;
}
