.workoutsExercises_card {
  border: 1px solid darkgray;
  border-radius: 4px;
  margin: 2vh 2vh;
  padding: 2vh 2vh;
  min-width: 200px;
  min-height: 267px;
}

.workoutsExercises_scroll {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  overflow-y: scroll;
}

.workoutsExercises_scrollItems {
  margin: 0 2vh;
  min-height: 221px;
}

.workoutsExercises_scrollItems div {
  margin: 1vh 0;
}

.workoutsExercises_card p {
  margin-bottom: 1.5vh;
}

.workoutsExercises_crWrkInput {
  margin-right: 4vw;
  margin-top: 3vh;
}